<a href="/"><div class="col s4 offset-s4" id="logo"><%= image_tag('boozt_logo_orange.png', options={class: "logo-nav-bar"}) %></div></a>
<div class="container background">
	<div class="row">
		<div class="card-panel white" style="margin-top: 50px">
			<h1 class="center">Sign In</h1>
			<br><br><br>
			<div class="row">
				<%= form_for @user, url: "/sessions", method: "post" do |f| %>
					<div class="col l6 offset-l3 s10 offset-s1">
					    <%= f.text_field :email, placeholder: "Email", class: "form-control"  %>
					    <%= f.password_field :password, placeholder: "Password" %>
					    <br><br><br><br>
				        <div class="center"><button type="submit" class="button btn-large center">Sign In</button></div>
				        <div class="col l3 s1"></div>
				    </div>
			  	<% end %>
		  	</div>
		</div>
	</div>
</div>
