<div class="container" style="background-image: url(http://i64.tinypic.com/2lng6sh.png)">
	<img src="http://i67.tinypic.com/8yajxf.png" style="height: 109; width: 309px; margin-left: 200px" >
	<br><br><br>
	<h1 style="color: #F05D23; margin-left: 300px">Hello <%= @user.first_name %></h1>

	<h3 style="color: white; margin-left: 230px">Time to stop, take a breath and enjoy life!!!</h3>

	<h4 style="color:white; margin-left: 300px">Now here is your Boozt:</h4>

	<img src="<%= @content.url %>" style="height: 250px; width: 250px; border: 2px solid gray; border-radius: 4px; margin-left: 220px">

	<p style="color:white; margin-left: 280px">Enjoy and stay happy!!!</p>
	<br><br><br>
</div>