<h1>Hello <%= @user.first_name %></h1>

<p>Time to stop, take a breath and enjoy life!!!</p>

<h3>Now here is your Boozt:</h3>


<p><%= @content.title %></p>
<img src="<%= @content.url %>" style="height: 250px; width: 250px">

<p>Enjoy and stay happy!!!</p>