<a href="/"><div class="col s4 offset-s4" id="logo"><%= image_tag('boozt_logo_orange.png', options={class: "logo-nav-bar"}) %></div></a>
<div class="background">
	<div class="container background">
		<div class="row">
			<div class="card-panel white" style="margin-top: 50px">
				<h1 class="center">Edit Profile</h1>
				<br><br><br>

				<%= render 'form' %>

			</div>
		</div>
	</div>
</div>