<a href="/"><div class="col s4 offset-s4" id="logo"><%= image_tag('boozt_logo_orange.png', options={class: "logo-nav-bar"}) %></div></a>
<div class="container background">
	<div class="row">
		<div class="card-panel white" style="margin-top: 50px">
			<h1 class="center">About</h1>
			<br><br><br>
			<div class="row">
				<div class="col s12" style="margin-top: -30px">
					<p class="about-info">
						<span class="about-titles">Mission</span><br>
						Brighten up the world one boozt at a time<br><br>

						<span class="about-titles">Vision</span><br>
						Boozt will create an on going chain of good with people using the platform to boozt themselves and others when they least expect it. The best gift is the one you receive when you’re not expecting it and Boozt will remind people that this gift/boozt can help you to change your mood and your state of mind which has a direct correlation with the outcomes of everything you do.<br><br>

						<span class="about-titles">Value Proposition</span><br>
						A Boozt user can define how many boozts he/she wants to receive during the day with content that can either inspire them, make them laugh or just enjoy more about themselves. Content can include quotes, gifs, videos and photos.<br><br>

						<span class="about-titles">Insight behind the idea</span><br>
						People go through their days in auto mode and carry around their problems and issues and they bring this state of mind into their day to day activities. A simple change in your mood and though system can change completely how you approach what you’re doing after. However, people get caught up on this auto mode and don’t usually take time to stop, relax, have a good laugh and change their thoughts and state of mind. That’s were Boozt comes in.<br><br>

						<span class="about-titles">Stack</span><br>
						Ruby on Rails, Materialize, Giphy API for content, Twilio API to send boozts via SMS and Mailer Gem to send boozts via email. Deployed on Heroku and using Heroku Scheduler for cron job workers that run daily scripts to deliver Boozts based on users set up, <br><br>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>