<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <div class="col s4 offset-s4" id="logo"><img class="home-logo center" src="assets/boozt_logo_orange"></div>
          <h5 class="header col s12 light">Bright up the world one boozt at a time</h5>
        </div>
        <div class="row center">
          <%= link_to "Join the club", new_user_path, method: :get, class: "waves-effect waves-light btn-large button" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>


  <div class="container">
    <div class="section" style="background: white">

      <!--   Icon Section   -->
      <div class="row center"><h1 class="home-title">How it Works</h1></div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assignment_turned_in</i></h2>
            <h5 class="center">Sign Up</h5>

            <p class="light">Join our community of boozted people</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Personalize</h5>

            <p class="light">Choose how many boozts you want to receive every day</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">mood</i></h2>
            <h5 class="center">Enjoy</h5>

            <p class="light">Receive boozts randomly during the day to lift your spirit when you least expect it!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1 style="color: #F05D23">Why Boozt?</h1></br>
          <p class="left-align light why-p-tag"><i class="material-icons">mood</i>&nbsp Take a break, relax and enjoy life</p>
          <p class="left-align light why-p-tag"><i class="material-icons">mood</i>&nbsp The best gift comes when you don't expect it</p>
          <p class="left-align light why-p-tag"><i class="material-icons">mood</i>&nbsp A small change in your mood can change everything that comes after</p>
          <p class="left-align light why-p-tag"><i class="material-icons">mood</i>&nbsp Platform of boozted people that want a happier world</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>