/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  font-family: 'Arvo', serif;
  background-image: url(http://i64.tinypic.com/2lng6sh.png);
  background-size: cover;
 }

.menu-titles > li {
  color: white !important;
}

.brand-logo {
  height: 50px;
  width: 150px;
}
.my-nav-bar {
  background-color: transparent;
}

.home-logo {
  width: 100%;
  margin-top: 50px; 
}

li > a {
  color: white !important;
  font-size: 22px !important;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo-nav-bar {
  height: 55px;
  width: 170px;
  margin-top: -200px !important;
  margin-left: 20px;
}

.label {
  font-size: 20px;
  color: #16a085;
  font-weight: bold;
}

.button {
  background-color: #F05D23 !important;
  color: white !important;
}

.stripe{
  width: 100% !important;
  background-color: white !important;
  padding-left: 40px;
  padding-right: 40px;
}

.profile-info {
  font-size: 20px;
  padding-top: 30px;
}

.tab-title {
  height: 50px;
}

.iphone-image {
  height: 500px;
}

.profile-container {
  border: 3px solid gray;
}
.header {
  margin-top: 20px;
}
.home-title {
  color: #F05D23;
}

.why-p-tag {
  font-size: 25px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #F05D23;
}

p {
  line-height: 2rem;
  font-size: 18px;
  text-align: justify;
}

.button-collapse {
  color: #F05D23;
  background-color: #F05D23;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#user_boozt_start {
    height: 30px !important;
    width: 150px !important;
}

.icon-block {
  padding-right: 40px;
  padding-left: 40px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.fi-social-github .fi-social-facebook {
 font-size: inherit; 
}

footer.page-footer {
  top: -50px;
  background-color: #f05d23;
}

.link > li {
  font-size: 50px !important;
}