/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


nav ul a,
nav .brand-logo {
  color: #F05D23;
}

.brand-logo {
  height:30px;
  width: 100%;
}
.my-nav-bar {
  background-color: transparent;
}

#logo {
  width: 100px;
  height:100px;
}
.button {
  background-color: #F05D23;
  color: white;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #F05D23;
  background-color: #F05D23;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.fi-social-github .fi-social-facebook {
 font-size: inherit; 
}

footer.page-footer {
  margin-top: -100px;
  background-color: #f05d23;
}