 <footer class="page-footer" style="background-color: #f05d23;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://www.github.com/emiliogomezlavin"><i class="fi-social-github"></i>Github</a></li>
            <li><a class="white-text" href="http://www.linkedin.com/in/emiliogomezlavin"><i class="fi-social-linkedin"></i>LinkedIn</a></li>
            <li><a class="white-text" href="https://www.facebook.com/emilio.lavin"><i class="fi-social-facebook"></i>Facebook</a>
            </li><li><a class="white-text" href="https://twitter.com/emiliogomlav"><i class="fi-social-twitter"></i>Twitter</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Inspiration</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="text-align: center">
      Made by with <i class="material-icons">favorite</i> by <a style="color: #326273" href="http://www.github.com/emiliogomezlavin">Emilio Gomez Lavin</a>
      </div>
    </div>
  </footer>