 <footer class="page-footer" style="background-color: #f05d23;">
    <div class="container">
      <div class="row">

        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li style="font-size: 10px !important"><a class="white-text link" href="http://www.github.com/emiliogomezlavin"><i class="fi-social-github"></i>&nbspGithub</a></li>
            <li><a class="white-text link" href="http://www.linkedin.com/in/emiliogomezlavin"><i class="fi-social-linkedin"></i>&nbspLinkedIn</a></li>
            <li><a class="white-text link" href="https://www.facebook.com/emilio.lavin"><i class="fi-social-facebook"></i>&nbspFacebook</a>
            </li><li><a class="white-text link" href="https://twitter.com/emiliogomlav"><i class="fi-social-twitter"></i>&nbspTwitter</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Boozt Recommends</h5>
          <ul>
            <li><a class="white-text link" href="http://www.goodnewsnetwork.org/">Good News Network</a></li>
            <li><a class="white-text link" href="http://tinybuddha.com/">Tiny Buddha</a></li>
            <li><a class="white-text link" href="http://www.ted.com/">TED</a></li>
            <li><a class="white-text link" href="http://1000awesomethings.com/">1000 Awesome Things</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="text-align: center; font-size: 15px">
      Made with <i class="material-icons">favorite</i> by <a style="color: #326273" href="http://www.github.com/emiliogomezlavin">  &nbsp Emilio Gomez Lavin</a>
      </div>
    </div>
  </footer>